.emailSenderButton{
    padding: auto;
    color: white;
    background-color: purple;
    width: 550px;
    left: 50%;
    height: 50px;
    top: -10px;
    font-size: large;
    font-family: 'Courier New', Courier, monospace;
    position: relative;
    text-align: center;
}
